<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :content, class: 'form-label mt-3' %>
  <div class="d-flex align-items-center justify-content-between gap-3">
    <%= f.text_field :content, class: 'form-control' %>

    <button type="button" data-action="nested-form#remove">
            <i class="bi bi-x-circle" style="font-size: 20px;"></i>
    </button>
  </div>

  <%= f.hidden_field :_destroy %>
</div>
