<div id="<%= dom_id brand_partner %>">
  <p>
    <strong>Name:</strong>
    <%= brand_partner.name %>
  </p>

  <p>
    <strong>Brand category:</strong>
    <%= brand_partner.brand_category_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if brand_partner.image.attached? %>
        <%= image_tag brand_partner.image, alt: 'brand partner logo', size:'100'%>
    <% end %>
  </p>

</div>
