<%= render @brand_partner %>

<div class="px-5 mt-5">
    <%= render partial: 'shared/detail/header', locals: {title: 'Items'} %>
    <ul class="row mt-4">
        <% @items&.each do |item| %>
            <%= render partial: 'items/item', locals: {item: item, brand_partner: @brand_partner}%>
        <% end %>
    </ul>
</div>


