<div id="<%= dom_id brand_category %>">
  <p>
    <strong>Name:</strong>
    <%= brand_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= brand_category.description %>
  </p>

</div>
