  <%# <h5 class="fw-semibold text-center py-3 
  <%= !is_sign_in_page? ? 'border border-1 bg-primary text-white': 'text-primary' %><%#= locals[:title] %>

  <h5 class="form-title"><%= locals[:title]%></h5>
