<nav class="navbar navbar-expand-lg fixed-top bg-dark-grey bg-opacity-75 border-0 px-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo', size: '120x50', class: 'd-inline-block align-text-top'%>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav d-none">
        <a class="nav-link  text-pink fw-semibold" aria-current="page" href="#home-seciton">Home</a>
        <a class="nav-link text-pink fw-semibold" href="#footer-section">About Us</a>
        <%= button_to 'Log Out', log_out_kings_yangon_users_path, method: :delete , class: 'nav-link text-pink fw-semibold d-md-none'%>
      </div>
    </div>
      <div class="logout-btn-container ms-auto d-none d-md-block">
        <%= button_to 'Log Out', log_out_kings_yangon_users_path, method: :delete , class: '  btn btn-danger px-3 fw-semibold text-white py-1 '%>
      </div>
  </div>
</nav>