<section class="d-flex flex-column align-items-center mt-4 justify-content-center w-100 ">
    <%= image_tag "empty_icon.jpg", alt: "Empty Icon", width: "200", height: "200"%>
    <h4 class="text-muted">No Data To Show</h4>
</section>