<!-- Slider main container -->
<div class="swiper w-100">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% images&.each do |media| %>
        <div class="swiper-slide ">
            <% if media.blob.content_type.start_with?('image') %>
              <%= image_tag media, class: 'd-block w-100 img-fluid h-100 object-fit-cover', alt: "carousel image"%>
            <% elsif media.blob.content_type.start_with?('video')%>
                <%= video_tag url_for(media), controls: true, class: 'd-block w-100 img-fluid h-100 object-fit-cover', alt: 'blog videos' %>
            <% end %>
        </div> 
    <% end %>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>