<h1>Page#welcome</h1>
<p>Find me in app/views/page/welcome.html.erb</p>
<%= link_to "Sign in Admin", new_user_session_path %>
<br>
<%= link_to "Sign in Parent", sign_in_page_kings_yangon_users_path  %>
