<small class="border border-warning rounded p-4 d-flex align-items-center" style="background-color: #FFF8DD">
    <i class="bi bi-exclamation-circle me-2 text-warning fs-5"></i>
    <p class="mb-0">Are you sure you want to delete <%= record %> ?</p>
</small>