$pink: #C2356F;
$green: #2EBCA0;
$darkGrey: #252F38;
$blue: #58C6E6;
$purple: #65306D;
$bodyBg: #eff3f6;
$inputBg: #f6f7f9;
$borderColor: #d7d7d7;
$theme_colors: (
  "pink": $pink,
  "light-green": $green,
  "dark-grey": $darkGrey,
  "light-blue": $blue,
  "purple": $purple,
  "bodyBg": $bodyBg,
);