$pink: #C2356F;
$green: #2EBCA0;
$darkGrey: #252F38;
$blue: #58C6E6;
$purple: #65306D;

$theme_colors: (
  "pink": $pink,
  "light-green": $green,
  "dark-grey": $darkGrey,
  "light-blue": $blue,
  "purple": $purple,
);