<% if is_sign_in_page?%>
    <div class="d-flex justify-content-center ">
        <%= render 'shared/noti' %>
    </div>
<% end %>
<section class="container-fluid  p-4 d-flex justify-content-center  align-items-center min-vh-75 <%= sign_in_page? %>">
    <div class="border " style="width: 500px">
        <%= yield %>
    </div>
</section>