<section class="container-fluid kyg-auth-section  p-4 d-flex justify-content-center  align-items-center min-vh-75 <%= sign_in_page? %>">
    <div class="kyg-auth-container" style="width: 500px">
         <%= render 'shared/noti' %>
        <%= yield %>
    </div>
</section>