<footer class="landing-footer bg-dark-grey row gap-3 gap-lg-0 p-5  " >
    <div class="col-12 col-md-4">
        <%= image_tag 'logo.png', class: 'w-50 object-fit-cover' %>
        <small class="text-white d-block ms-4"> &copy; KingsYangon2024</small>
    </div>
    <ul class="social-link-container mt-4 mt-sm-0 mt-md-0 mt-lg-0 col-12 col-md-4 text-white  list-unstyled d-flex flex-column gap-2">
        <li>
            <a href="" class="text-white d-flex gap-4 align-items-center">
                <i class="bi bi-facebook "></i>
                <small class="text-white">Kings On Facebook</small>
            </a>
        </li>
        <li>
             <a href="" class="text-white d-flex gap-4 align-items-center">
                 <i class="bi bi-instagram "></i>
                <small class="text-white">Kings On Instagram</small>
             </a>

        </li>
        <li>
            <a href="" class="text-white d-flex gap-4 align-items-center">
                <i class="bi bi-youtube "></i>
                <small class="text-white">Kings On Youtube</small>
             </a>


        </li>
        <li>
            <a href="" class="text-white d-flex gap-4 align-items-center">
                <i class="bi bi-tiktok"></i>
                <small class="text-white">Kings On TikTok</small>
             </a>

        </li>
        <li>
            <a href="" class="text-white d-flex gap-4 align-items-center">
                <i class="bi bi-linkedin"></i>
                <small class="text-white">Kings On LinkedIn</small>
            </a>
        </li>
    </ul>

    <ul class="contact-container col-12 col-md-4 list-unstyled d-flex flex-column  gap-2">
        <li>
            <a href="" class="text-white text-decoration-underline pe-auto">
                kingsyangon.com            
            </a>
        </li>

        <li>
            <a href="" class="text-white text-decoration-underline pe-auto">   
                info@kingsyangon.com
            </a>
        </li>

        <li>
            <a href="" class="text-white text-decoration-underline pe-auto">
               09563258965          
            </a>
        </li>
        
    </ul>
</footer>