<footer class="landing-footer bg-dark-grey d-flex flex-column justify-content-center align-items-center" style="height: 200px">
    <ul class="social-link-container text-white  list-unstyled d-flex gap-5">
        <li>
            <a href="" class="text-decoration-none">
                <i class="bi bi-facebook fs-4"></i>
            </a>
        </li>
        <li>
            <i class="bi bi-instagram fs-4"></i>
        </li>
        <li>
        <i class="bi bi-youtube fs-4"></i>
        </li>
        <li>
            <i class="bi bi-envelope-check-fill fs-4"></i>
        </li>
        <li>
            <i class="bi bi-telephone-inbound fs-4"></i> 
         </li>
    </ul>

    <ul class="contact-container list-unstyled d-flex gap-5">
        <li>
            <a href="">
                kingsyangon.com            
            </a>
        </li>

        <li>
            <a href="">
                09786523597      
            </a>
        </li>

        <li>
            <a href="">
               09563258965          
            </a>
        </li>
        
    </ul>
</footer>